:root {
    --accent-color: #11BABA;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 20px 5px 20px;

}

.qr-card {
    display: flex;
    align-items: center;
    width: 550px;
    height: 320px;
    background-color: white;
    border-top: 22px solid var(--accent-color);
    border-bottom: 22px solid var(--accent-color);
    border-radius: 10px;
}

.qr-code-checkin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--accent-color);
    width: 220px;
    height: 256px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    padding-top: 10px;
}

.qr-code {
    width: 195px;
    height: 195px;
    background-color: white;
    color: #444;
}

.description {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
    margin-bottom: 25px;
}

.description-and-logo {
    flex-grow: 1;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
}

.logo {
    color: #444;
    padding-top: 5px;
    text-align: right;
    width: 100%;
}

.desk {
    color: var(--accent-color);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: baseline;
    font-size: 30px;
    font-weight: bold;
}

.desk h1 {
    font-size: 54px;
    font-weight: bold;
    margin: 0;
}

.location {
    text-align: left;
    color: #444;
    font-size: 16px;
    font-weight: bold;
}